/*************************/
/*General Reusable Components*/
/*************************/
.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4em;
  row-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.6px;
}

.heading-primary {
  line-height: 1.05;
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border:inset 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

/* Helper classes */

.center-text {
  text-align: center;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
strong {
  font-weight: 500;
}
